<div class="container fixed-top" style="background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('your-image-url-here'); backdrop-filter: blur(10px);">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand navbar" >Re.</a>
      <div class="dropdown ms-auto me-5" appDropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton">
          Home
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">r/example1</a></li>
          <li><a class="dropdown-item" href="#">r/example2</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">My Subredots</a></li>
        </ul>
      </div>

      <form class="form-outline d-flex flex-grow-1 me-5">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning" type="submit"><mat-icon>search</mat-icon></button>
      </form>

      <div class="ms-auto">
        <ul class="navbar-nav ms-auto mb-2 mb0">
          <button class="btn btn-outline-danger" type="submit">Login</button>
        </ul>
      </div>
    </div>
  </nav>
</div>
