<div class="col-md-8 mx-auto mb-3 card" style="cursor: pointer;">
  <div class="card-body">
    <div class="votes card-header-pills">
      <button class="btn" style="color:red;">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <span class="count">1234</span>
      <button class="btn">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
    <div class="content">
      <h2 class="card-header">Post Title</h2>

      <p class="card-body"><span class="gradient"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Molestie a iaculis at erat pellentesque adipiscing commodo. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Bibendum ut tristique et egestas quis. Sollicitudin aliquam ultrices sagittis orci a. Lectus nulla at volutpat diam ut venenatis tellus. Pharetra et ultrices neque ornare aenean euismod elementum. Lorem mollis aliquam ut porttitor leo a diam. Ut aliquam purus sit amet. Tristique risus nec feugiat in fermentum posuere.</p>
      <div class="actions btn-group">
        <button class="btn">
          <mat-icon>comment</mat-icon>
        </button>
        <button class="btn">
          <mat-icon>share</mat-icon>
        </button>
        <button class="btn">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
