<div class="col-md-8 mx-auto mb-3 card  p-sm-1  d-flex">
  <div class="d-flex justify-content-end" appDropdown>
    <button class="btn btn-dark dropdown-toggle"  type="button">
      Sort by
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortDropdown">
      <button class="dropdown-item"><mat-icon>calender</mat-icon> Date</button>
      <button class="dropdown-item"><mat-icon>arrow_upward</mat-icon> Votes</button>
      <button class="dropdown-item">Hot</button>
      <button class="dropdown-item">Hot</button>
    </div>
  </div>
</div>
<app-post-list></app-post-list>
