<div class="col-sm-8 mx-auto mb-3 card align-content-end">
<div class="sort-by dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortDropdown">
    <button class="dropdown-item">Date</button>
    <button class="dropdown-item">Votes</button>
    <button class="dropdown-item">Hot</button>
  </div>
</div>
</div>
<app-post-list></app-post-list>
